body {
  padding: 60px;
  text-align: center;
  background-color:  #f5eef8 ;
}

input {
  color: rgb(115, 125, 134);
  font-size: 1.2rem;
  width: 100%;
}
.contenedorPrin {
  margin-top: 20px;
}
.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  align-content: center;
  margin: 5px;
}

.card img {
  width: 250px;
  height: 200px;
}

@media screen and (max-width: 500px) {
  .card img {
    max-width: 150px;
    max-height: 100px;
  }

  body {
    padding: 10px;
  }
  contenedoPrin {
    margin-top: 15px;
  }
}